:root {
  --white: #eeeeee;
  --light-grey: #999999;
  --mid-grey: #666666;
  --dark-grey: #333333;
  --black: #111111;
}

body {
  margin: 0 auto;
  height: 100vh;
}

h1 {
  color: var(--black);
}

h2 {
  color: var(--mid-grey);
}

h3 {
  color: var(--light-grey);
}
