:root {
  --white: #f6f6f6;
  --light-grey: #ebebeb;
  --dark-grey: #444444;
  --black: #111111;
  --green: #3aa251;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-light);
}

img {
  border: 1px solid var(--light-grey);
}

h1 {
  color: var(--black);
}
